<h1 align="center">Listing articles</h1>

<div class="container">
  <p class="goto-home">
    <!-- This is a inline way to use glyphicons with ruby -->
    <%= link_to '<i class="glyphicon glyphicon-home"></i> Create an article'.html_safe,
                                                                             root_path,
                                                                             class: "btn btn-link" %>
  </p>
</div>

<div class="container">
  <p class="new-article">
    <!-- This is a inline way to use glyphicons with ruby -->
    <%= link_to '<i class="glyphicon glyphicon-plus"></i> Create an article'.html_safe,
                                                                             new_article_path,
                                                                             class: "btn btn-link" %>
  </p>
</div>

<% @articles.each do |article| %>
  <div class="row">
    <div class="each-article col-xs-8 col-xs-offset-2">
      <!-- <div class="well well-lg"> -->
        <div class="center article-title">
          <%-# This is a one-liner to automatically turn every first letter of an article title capitalized %>
          <%= article.title[0].capitalize + article.title[1,article.title.length] %>
        </div>
        <div class="article-body">
          <%= simple_format(article.description) %>
        </div>
        <div class="article-actions">
          <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-link" %>
          <%= link_to "Delete this article", article_path(article), method: :delete,
                                             data: { confirm: "Are you sure you want to delete this article?" },
                                             class: "btn btn-xs btn-link" %>
        </div>
        <div class="article-design">
          <%= "=" * 93 %>
        </div>
      <!-- </div> -->
    </div>
  </div>
<% end %>
